logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

activator
activator.bat
activator-launch-1.2.12.jar

./cache

/bin/
