@()

<div class="container-title">
	<h3 class="">API</h3>
	
	<a href="#modal-uri" class="waves-effect waves-light btn-large modal-trigger"><i class="mdi-action-wallet-giftcard left"></i>URI</a>
		
	<a id="generate-api-key" href="#modal-api-key" class="waves-effect waves-light btn-large modal-trigger"><i class="mdi-action-settings-input-hdmi left"></i>Gerar API KEY</a>
	
		
	<div class="row ">
	      
     	<div class="col s6">
      		<div class="card">
            	<span class="card-title black-text">Sucesso</span>
            	<div class="card-content align-left">
            	
            		<h5>HTTP Status: 2xx</h5>
            		
            		<h5>JSON:</h5>
<pre>
<span style='color:#808030; '></span><span style='color:#800080; '>{</span>    
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>url</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>www.johnidouglas.com.br</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>title</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>My personal blog</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>description</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>This blog is about computer science.</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>signedup</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>2015-02-13 10:15:56</span><span style='color:#800000; '>"</span>
<span style='color:#800080; '>}</span><span style='color:#808030; '></span>
</pre>          	
            	
					
					          
             	</div>
    		</div>
            	
      </div>
      
      <div class="col s6">
      		<div class="card">
      			<span class="card-title black-text">Erro</span>            
            	
            	<div class="card-content align-left">
            		<h5>HTTP Status: 4xx ou 5xx</h5>
					<h5>JSON:</h5>
<pre>
<span style='color:#800080; '>{</span>  
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>error</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>API Key inválida</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>suggestion</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Gere uma nova API Key</span><span style='color:#800000; '>"</span>
<span style='color:#800080; '>}</span>
</pre>				
					
					
             	</div>
    		</div>
      </div>     
      
    </div>	
		
</div>
  
 
  <div id="modal-uri" class="modal">
    <div class="modal-content">     
      
      <h4 class="pink-text text-darken-4">URI</h4>
      <h5 class="indigo-text text-darken-4">http://owl-links.herokuapp.com/api/v1/<span class="pink-text text-accent-3">&lt;api-key&gt;</span>/links.json</h5>           
      
      <h6 class="red-text text-darken-4">http://owl-links.herokuapp.com/api/v1/2F-aTxZ/links.json</h6>
     
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-light btn modal-action modal-close pink darken-4"><i class="mdi-navigation-close left"></i>Fechar</a>
    </div>
  </div>
  
    <div id="modal-api-key" class="modal">
    <div class="modal-content">     
      
      <h4 class="pink-text text-darken-4">API Key</h4>
      <h3 id="text-api-key" class="indigo-text text-darken-4"></h3>           
     
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-light btn modal-action modal-close pink darken-4"><i class="mdi-navigation-close left"></i>Fechar</a>
    </div>
  </div>
  