@()

<div class="container-title">
	<h3 class="">API</h3>
	
	<a class="waves-effect waves-light btn-large"><i class="mdi-action-wallet-giftcard left"></i>Detalhes URI</a>	
	<a class="waves-effect waves-light btn-large"><i class="mdi-action-settings-input-hdmi left"></i>Gerar API KEY</a>
	
		
	<div class="row ">
	      
     	<div class="col s6">
      		<div class="card">
            	<span class="card-title black-text">Sucesso</span>
            	<div class="card-content align-left">
            	
            		<h5>HTTP Status: 2xx</h5>
            		
            		<h5>JSON:</h5>
<pre>
<span style='color:#808030; '></span><span style='color:#800080; '>{</span>  
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>id</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#008c00; '>152</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>url</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>www.johnidouglas.com.br</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>title</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>My personal blog</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>description</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>This blog is about computer science.</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>signedup</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>2015-02-13 10:15:56</span><span style='color:#800000; '>"</span>
<span style='color:#800080; '>}</span><span style='color:#808030; '></span>
</pre>          	
            	
					<h5>XML:</h5>
					          
             	</div>
    		</div>
            	
      </div>
      
      <div class="col s6">
      		<div class="card">
      			<span class="card-title black-text">Erro</span>            
            	
            	<div class="card-content align-left">
            		<h5>HTTP Status: 4xx ou 5xx</h5>
					<h5>JSON:</h5>
<pre>
<span style='color:#800080; '>{</span>  
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>error</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>API Key inválida</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
   <span style='color:#800000; '>"</span><span style='color:#0000e6; '>suggestion</span><span style='color:#800000; '>"</span><span style='color:#800080; '>:</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>gere uma nova API Key</span><span style='color:#800000; '>"</span>
<span style='color:#800080; '>}</span>
</pre>				
					
					<h5>XML:</h5>
             	</div>
    		</div>
      </div>     
      
    </div>	
		
</div>