@()


<section id="collectlink">
	<div class="container">
		<div class="row">
			<div class="col l8 offset-l2 m12 offset-m0 s12">
				<article class="card white">
					<header>
						<p class="title">você encontrou um site interessante e quer compartilhar, envie pra gente</p>
					</header>
					
					@helper.form(action = routes.Collectlinks.send()) {						
					
						<input type="text" name="link" autocomplete="off" placeholder="www.seulink.com.br">										   
															
						<button class="waves-effect waves-light btn-large orange darken-4" type="submit" name="action">Enviar	
							<i class="mdi-image-filter-tilt-shift left"></i>				
						</button>																	
									
					}
				</article>
			</div>
		</div>
	</div>	
</section>		




