@(links: List[Link], totalLinks: Long)
<div class="container-title">
    <h3 class="white-text">Últimos links cadastrados</h3>
    <h5 class="white-text"> 
    @(if (links.size != 0) { "veja os últimos "  + links.size  + " links cadastrados de um total de " +  totalLinks + " links" } else { "que pena, nenhum link foi cadastrado" })
  </h5>
</div>
<div class="align-left">
    @links.grouped(4).map { group =>
    <div class="row">
        @group.map { item =>
        <div class="col s3">
            <div class="card page-wrapper page-show-@{item._id}">
                <div class="card-content black-text">
                    <h6>@item.title</h6>
                    <a id-show="@item._id" class="trigger secondary-content btn-floating waves-effect waves-light blue darken-4 rigth" href="javascript:;">
                        <i class="mdi-navigation-more-vert"></i>
                    </a>
                </div>
                <div class="card-action">
                    <a href="@item.url" target="_blanck"><i class="mdi-maps-directions-walk right"></i>Acesse</a>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>
@for(link
<- links) { <div class="modal-wrapper modal-show-@{link._id}">
    <div class="modal">
        <div class="head">
            <h4>
                <span class="left white-text">@link.title</span>
                  <a class="btn-close trigger" id-show="@{link._id}" href="javascript:;"></a>
                  
                </h4>
        </div>
        <div class="content">
            <!-- <h5>@link.url</h5> -->
            <h5 class="center">@link.description</h5>
            <hr>
            <div class="margin-top-10">
                <a href="@link.url" class="btn pink darken-1" target="_blank"><i class="mdi-hardware-keyboard-tab right"></i><b>Acessar</b></a>
            </div>
        </div>
    </div>
    </div>
    }
