@()

<div class="container-title">
	<h3 class="light-blue-text text-darken-1">Como fizemos esse projeto</h3>
				
	<h5 class="light-blue-text text-darken-1">	
		<a href="https://www.playframework.com/" target="_blank">Play Framework</a>
		 - 
		<a href="http://materializecss.com/" target="_blank">Materialize</a>		
		 - 
		<a href="http://jquery.com/" target="_blank">jQuery</a>
		 - 
		<a href="https://www.heroku.com/" target="_blank">Heroku</a>
		 -
		<a href="https://mongolab.com/" target="_blank">MongoLab</a>  
		 - 
		<a href="https://github.com/johnidm/owl-links" target="_blank">GitHub</a>
	</h5>
	
	
</div>
