@()


<footer class="page-footer yellow lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Sobre o projeto</h5>
        <p class="black-text text-lighten-4">
        	Eu gosto muito de navegar na internet e sempre encontro site interessantes.
        	<br>
        	A ideia do projeto e manter uma base de dados de sites e fornecer uma busca inteligente desses sites.        	
        </p>
      	
      
      
      	<h5 class="black-text">Livros</h5>    
		
		<h6><a class="black-text" target="_blank" href="https://leanpub.com/playframeworknapratica">Play Framework na prática (Alberto Souza)</a></h6>
		<h6><a class="black-text" target="_blank" href="http://www.casadocodigo.com.br/products/livro-play-framework-java">Play Framework: Java para web sem Servlets e com diversão (Fernando Boaglio)</a></h6>	
	 
      				
     </div> 
      <div class="col l4 offset-l2 s12">        
        <div class="row">
        
        <div class="col s3">  
	        <ul>
	          <li><a target="_blanck" href="http://br.linkedin.com/in/johnidouglas"><i class="fa fa-linkedin-square fa-3x black-text"></i></a></li>          
	          <li><a target="_blanck" href="https://www.facebook.com/johnidm"><i class="fa fa-facebook-square fa-3x black-text"></i></a></li>
	          
	                                             
	        </ul>
        </div>
        <div class="col s3">
	        <ul>
	          <li><a target="_blanck" href="http://www.johnidouglas.com.br/"><i class="fa fa-wordpress fa-3x black-text"></i></a></li>
	          <li><a target="_blanck" href="https://www.youtube.com/user/johnidm"><i class="fa fa-youtube-play fa-3x black-text"></i></a></li>
	          	          	          
	        </ul> 
	     </div>
	     <div class="col s3">
	        <ul>
	        	<li><a target="_blanck" href="https://github.com/johnidm"><i class="fa fa-github-alt fa-3x black-text"></i></a></li>
	            <li><a target="_blanck" href="https://plus.google.com/105323668967415520419/posts"><i class="fa fa-google-plus-square fa-3x black-text"></i></a></li>        	          
	        </ul> 
	     </div>
	     <div class="col s3">
	        <ul>
	        	<li><a target="_blanck" href="https://twitter.com/johnidouglas"><i class="fa fa-twitter-square fa-3x black-text"></i></a></li>	        	
	                    	          
	        </ul> 
	     </div>
         
        </div>                  
        <div>
        <a class="black-text" target="_blanck" href="https://github.com/johnidm/owl-links"><h5><i class="fa fa-code-fork"></i> Código fonte do projeto</h5></a>
        </div>
        
        <h5>Projetos Owl Links</h5>
        <ul>
            <li><h6><a class="black-text" target="_blanck" href="https://github.com/johnidm/owl-links-api">Owl Link API</a></h6></li>
        	<li><h6><a class="black-text" target="_blanck" href="https://github.com/johnidm/owl-links-mobile">Owl Link Mobile</a></h6></li>
        	<li><h6><a class="black-text" target="_blanck" href="https://github.com/johnidm/owl-links-dashboard">Owl Link Dashboard</a></h6></li>        	
        	
        </ul>  
        
      </div>
    </div>
  </div>
  
  <div class="footer-copyright">
    <div class="container">
      <span class="black-text">© 2015 Johni Douglas Marangon - 0.0.6v 07/07/2015</span>
      <a class="black-text text-lighten-4 right" href="http://www.johnidouglas.com.br/" target="_blanck">Johni Douglas Marangon</a>
    </div>
  </div>
  

</footer>