@(formContact : Form[models.Contact], formNewsletter : Form[models.Newsletter], links : List[Link], totalLinks: Long)

@import helper._

@main("Owl Links") {

	@menu()

	@header()
	
	<section id="newsletter" class="teal accent-3">
     	<div class="container section-box"> 
    		@partials.newsletter(formNewsletter)  		    
     	</div>
  	</section>  

	<section id="showlinks" class="red lighten-1">
		<div class="container section-box"> 
			@partials.showlinks(links, totalLinks)    
	    </div>
	</section>
   
	<section id="api" class="orange lighten-3">
    	<div class="container section-box"> 
      		@partials.api()    
    	</div>
  	</section>

  	<section id="contact">
    	<div class="container section-box"> 
      	@partials.contact(formContact)    
    	</div>
  	</section>
  	
	<section id="technology" class="grey darken-4">
    	<div class="container section-box"> 
      		@partials.technology()    
    	</div>
  	</section>

	
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          
          <a class="btn-floating btn-large green">
            <i class="large mdi-editor-mode-edit"></i>            
          </a>
          
          <ul>
            <li>
            	<a target="_blanck" href="https://github.com/johnidm/owl-links-api" data-position="left" data-delay="10" data-tooltip="Owl Links API" class="btn-floating tooltipped orange" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
            		<i class="large mdi-editor-insert-chart"></i>
            		
            	</a>
            </li>
            
            <li>
            	<a target="_blanck" href="https://github.com/johnidm/owl-links-mobile" data-position="left" data-delay="10" data-tooltip="Owl Link Mobile" class="btn-floating tooltipped blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
            		<i class="large mdi-editor-insert-chart"></i>
            		
            	</a>
            </li>
            
            <li>
            	<a target="_blanck" href="https://github.com/johnidm/owl-links-dashboard" data-position="left" data-delay="10" data-tooltip="Owl Link Dashboard" class="btn-floating tooltipped red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;">
            		<i class="large mdi-editor-insert-chart"></i>
            		
            	</a>
            </li>
            
            </ul>
        </div>

	@footer()

}