@()


@main("Owl Links - Edição de Links") {
	
	@menu()
	
	<div style="padding-top:5%"></div>
	
	<section id="" class="">
     	<div class="container section-box"> 
    		<h5>Edição de links</h5>
    		<hr>   		    
     	</div>
  	</section> 
	
	<section id="" class="">  
	   	 
    	<div class="container">
    		<div class="row">
		    	<div class="col s3">
		    	<ul class="collapsible">
			        <li class="active">
			          <div class="collapsible-header"><i class="mdi-av-web"></i>Designer</div>
			          
			        </li>
			        <li>
			          <div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>Developer</div>
			          
			        </li>
			        <li>
			          <div class="collapsible-header"><i class="mdi-av-play-shopping-bag"></i>Video Editor</div>
			          
			        </li>
			        <li>
			          <div class="collapsible-header"><i class="mdi-editor-insert-comment"></i>Support Asst.</div>
			          
			        </li>
			      </ul>
		    	</div>
		        <div class="col s9">
		        
		        	<table class="bordered hoverable">
				        <thead>
				          <tr>
				              <th data-field="id">Name</th>
				              <th data-field="name">Item Name</th>
				              <th data-field="price">Item Price</th>
				              <th data-field="price">Ações</th>
				          </tr>
				        </thead>
				
				        <tbody>
				          <tr>
				            <td>Alvin</td>
				            <td>Eclair</td>
				            <td>$0.87</td>
				            <td><a class="btn-floating waves-effect waves-light red"><i class="mdi-content-add"></i></a>
				            <a class="btn-floating waves-effect waves-light blue"><i class="mdi-content-add"></i></a>
				            <a class="btn-floating waves-effect waves-light green"><i class="mdi-content-add"></i></a></td>
				          </tr>	          
				          
				          
				        </tbody>
				      </table>
				      
		        </div>
		     </div>
	    	
		    	
	      
	     </div>
    			     		 	    
     	
  	</section>
  	
  	

	@footer()
}