@()

@import scala.util.Random

<nav>
    <div class="nav-wrapper">
    	<a id="logo-container" href="http://owl-links.herokuapp.com/" class="brand-logo">
    		<img src="@routes.Assets.at("images/logo-owl-" + {Random.nextInt(20) + 1} + ".png")" id="logo" alt="Jakub Sobotka logo">
    	</a>
    	  
      <ul id="nav-mobile" class="right hide-on-med-and-down">     
      	        
        <li><a href="http://owl-links.herokuapp.com/"><i class="mdi-action-home black-text left"></i><span class="black-text">Início</span></a></li>        
        <li><a href="http://owl-links.herokuapp.com/#newslatter"><i class="mdi-action-receipt black-text left"></i><span class="black-text">Newslatter</span></a></li>
        <li><a href="http://owl-links.herokuapp.com/#showlinks"><i class="mdi-content-link black-text left"></i><span class="black-text">Links</span></a></li>        
        
        <li><a href="http://owl-links.herokuapp.com/#api"><i class="mdi-device-battery-charging-full black-text left"></i><span class="black-text">API</span></a></li>
                
        <li><a href="http://owl-links.herokuapp.com/#contact"><i class="mdi-communication-quick-contacts-mail black-text left"></i><span class="black-text">Contato</span></a></li>
                
      </ul>
    </div>
  </nav>
  
  
  
  
  <div class="notifications">
	    @if(flash.containsKey("error")) {
	    	<div class="notify errorbox">
		        <h1>Falha!</h1>
		        <span class="alerticon"><img src="@routes.Assets.at("images/error.png")"></span>
		        <p>@flash.get("error")</p>
		    </div>
		    	   	   
		}
	    
	    @if(flash.containsKey("success")) {
	    	<div class="notify successbox">
			    <h1>Ok!</h1>
			      <span class="alerticon"><img src="@routes.Assets.at("images/check.png")"></span>
			      <p>@flash.get("success")</p>
			 </div>
		    	   	   
		}
	</div> 