@()

<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Owl Links - 404</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,900">
  <link rel="stylesheet" href="@routes.Assets.at("css/404.css")">

</head>

<body>

  <div id='error-page'>
  <div id='error-inner'>
    <h1>Opps, a página que você está procurando não existe</h1>
    
    <center><img src="@routes.Assets.at("images/404.png")"></center>

    <p class="balik-home"><a href="http://owl-links.herokuapp.com/">Volter para a página inicial clicando aqui!</a></p><br/>
  </div>
  </div>

  

</body>

</html>